body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}
.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.img-fluid {
  max-height: 200px;
  max-width: 200px;
  cursor: pointer;
}
.content {
  max-width: 1000px;
}
.profile-container {
  width: 30%;
  max-width: 300px;
  color: #657786;
  border: 1px solid #ddd;
}
.btn-tweet {
  border-radius: 30px;
}
.tweet-element {
  border: 1px solid #ddd;
}
.tweet-element a {
  color: #657786;
  text-decoration: none;
}
.pointer-cursor {
  cursor: pointer;
}
#search-menu-container {
  position: relative;
}
.search-menu {
  position: absolute;
  background: white;
  z-index: 1;
  top: 4px;
  left: 0px;
  width: 300px;
  min-height: 200px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.search-menu-item {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  transition: background 0.2s;
  color: #657786;
}
.search-menu-item:hover {
  background: #eee;
  transition: background 0.2s;
}
a.btn-follow {
  color: #007bff;
  border-radius: 30px;
  cursor: pointer;
}
a.btn-follow:hover {
  color: white;
}
a.btn-unfollow {
  border-radius: 30px;
  cursor: pointer;
}
