extends ../layout 

block content
    div(class="d-flex flex-row content mx-auto")
        include ../includes/profile 
        div(class="flex-fill")
            form(class="card" method="POST" action=tweet._id ? `/tweets/update/${tweet._id}` : "/tweets")
                div(class="card-header") Ecrire un tweet
                div(class="card-body")
                    div(class="form-group")
                        textarea(class="form-control" name="content" placeholder="What is happening")= tweet.content
                    if errors
                        ul(class="my-2")
                            each error in errors
                                li(class="text-danger")= error
                    div(class="w-100")
                        input(type="submit" value="Send" class="d-block ml-auto btn btn-primary")