extends ../layout 

block content
    div(class="d-flex flex-row justify-content-center content mx-auto")
        form(class="card w-50 mt-5" method="POST" action="/users/signup")
            div(class="card-header") Inscription
            div(class="card-body")
                div(class="form-group")
                    label Username
                    input(class="form-control" type="text" name="username")
                div(class="form-group")
                    label Email
                    input(class="form-control" type="email" name="email")
                div(class="form-group")
                    label Password
                    input(class="form-control" type="password" name="password")
                if errors
                    ul(class="my-2")
                        each error in errors
                            li(class="text-danger")= error
                div(class="w-100")
                    input(type="submit" value="S'inscrire" class="d-block ml-auto btn btn-primary")